/* External CSS for the Calculator */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    width: 220px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    width: 100%;
    height: 40px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #eaeaea;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c0c0c0;
  }
  
  .operator {
    background-color: #00796B;
    color: white;
  }
  
  .operator:hover {
    background-color: #00695C;
  }
  
  .clear {
    background-color: #FF7043;
    color: white;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    
  }
  
  .clear:hover {
    background-color: #E64A19;
  }
  
  .equal {
    background-color: #4CAF50;
    color: white;
    grid-column: span 2;
  }
  
  .equal:hover {
    background-color: #388E3C;
  }
  